<table class ="table table-striped table-responsive">
  <thead>
    <tr>
      <th scope = "col">ID client</th>
      <th scope = "col">Note</th>
      <th scope = "col">Hours</th>
      <th scope = "col">Total money</th>
      <th scope = "col">Billed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render works %>
  </tbody>
</table>
