<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <p class = "logo"> billing system </p>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Back', client_path(@client) %></li>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </nav>
  </div>
<div class="center jumbotron">
<h1> New Work </h1>
<%= render 'form', work: @work %>
</div>
<div class="footer">
  <h3> New work </h3>
</div>
