
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <p class = "logo"> billing system </p>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "View Client",   clients_path %></li>
        <li><%= link_to "View Works",   clients_all_works_path %></li>
      </ul>
    </nav>
  </div>
  <div class="center jumbotron">
  <h1>Welcome to the billing system</h1>
  <h2>
    This is the git hub
    <a href="https://github.com/TobaJR/Ingegneria_sw2"> Repository </a>
    of this application
  </h2>
  </div>
  <div class="footer">
    <h3> Home </h3>
  </div>
</header>
